form {
	margin: 0 auto;
	width:500px;
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
}
#container{
	padding-top:150px;
	text-align: center;
	margin:0 auto;
	position: relative;
}
#body{
	font-size:25px;
	font-weight:bold;
}
.val{
	color:red;
}
#logo{
	margin:15px;
}
#menu,#itext,#sbtn{
	margin:15px;
	color:blue;
	font-family: verdana;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
}
.mitem{
	text-decoration: none;
}
#itext{
	font-size: 24px;
	background-color: white;
}
#sbtn{
	color:red;
	background-color: white;
}